/cours 0/ConsoleApplication1/Debug
/cours 0/ConsoleApplication1/.vs
/cours 1/ConsoleApplication1/.vs
/cours 1/ConsoleApplication1/Debug
/cours 2/ConsoleApplication1/.vs
/cours 2/ConsoleApplication1/Debug
